<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/initial_quiz.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="initial_questions" value="1"><a href="#">Question - 1</a></li>
            <li class="initial_questions" value="2"><a href="#">Question - 2</a></li>
            <li class="initial_questions" value="3"><a href="#">Question - 3</a></li>
            <li class="initial_questions" value="4"><a href="#">Question - 4</a></li>
            <li class="initial_questions" value="5"><a href="#">Question - 5</a></li>
            <li class="initial_questions" value="6"><a href="#">Question - 6</a></li>
            <li class="initial_questions" value="7"><a href="#">Question - 7</a></li>
            <li class="initial_questions" value="8"><a href="#">Question - 8</a></li>
            <li class="initial_questions" value="9"><a href="#">Question - 9</a></li>
            <li class="initial_questions" value="10"><a href="#">Question - 10</a></li>
          </ul>
        </div>

        <!-- <div class="question"> -->
            <div class="initial_quiz_container">

            </div>
        </div>
    </div>
    <div class="row">
        <div class = "results col-md-8 col-md-offset-2">

        </div>
    </div>

        <!-- </div> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/ejs.js"></script>
    <!-- <script src="js/initial_quiz.js"></script> -->
    <script type="text/javascript">
    var questions = [{
    "question_id": 1,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 1",
    "question_text": "What is the output of relational operators?",
    "question_options":[
        "boolean",
	"short",
	"int",
	"long"
    ]

},
{
    "question_id": 2,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 2",
    "question_text": "Which of the following is a valid declaration of an object of class Box?",
    "question_options":[
        "Box obj = new Box();",
        "Box obj = new Box;",
	"obj = new Box();",
	"new Box obj;"
    ]

},
{
    "question_id": 3,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 3",
    "question_text": "What of the following is the default value of a local variable?",
    "question_options":[
        "null",
        "0",
	"not assigned",
	"depends upon the type of the variable"
    ]

},
{
    "question_id": 4,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 4",
    "question_text": "Which of these selection statements test only for equality?",
    "question_options":[
        "if",
        "switch",
	"while",
	"none of the above"
    ]

},
{
    "question_id": 5,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 5",
    "question_text": "All variables must be declared before they can be used.",
    "question_options":[
        "True",
        "False"
    ]

},
{
    "question_id": 6,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 6",
    "question_text": "In Java arrays are",
    "question_options":[
        "objects",
        "object references",
	"primitive data type",
	"none of the above",
    ]

},
{
    "question_id": 7,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 7",
    "question_text": "Say that there are three classes: Computer, AppleComputer, and IBMComputer. What are the likely relationships between these classes? ",
    "question_options":[
        "Computer is the superclass, AppleComputer and IBMComputer are subclasses of Computer.",
        "IBMComputer is the superclass, AppleComputer and Computer are subclasses of IBMComputer.",
	"Computer, AppleComputer and IBMComputer are sibling classes.",
	"Computer is a superclass, AppleComputer is a subclasses of Computer, and IBMComputer is a sublclas of AppleComputer",
    ]

},
{
    "question_id": 8,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 8",
    "question_text": "When does Exceptions in Java arises in code sequence?",
    "question_options":[
        "Run Time",
        "Compilation Time",
	"Can occur any time during program execution",
	"none of the above"
    ]

},
{
    "question_id": 9,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 9",
    "question_text": "Which keyword is used for the block to handle the exceptions generated by try block?",
    "question_options":[
        "Catch",
        "Final",
	"throw",
	"try"
    ]

},
{
    "question_id": 10,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 10",
    "question_text": "A process can be",
    "question_options":[
        "Single threaded",
        "Multi threaded",
	"both single and multithreaded",
	"none of the above"
    ]

}]

var correctAnswers = [
{
    "question_id": 1,
    "correct_option": "Multi threaded"
},
{
    "question_id": 2,
    "correct_option": "Multi threaded"
},
{
    "question_id": 3,
    "correct_option": "Multi threaded"
},
{
    "question_id": 4,
    "correct_option": "Multi threaded"
},
{
    "question_id": 5,
    "correct_option": "Multi threaded"
},
{
    "question_id": 6,
    "correct_option": "Multi threaded"
},
{
    "question_id": 7,
    "correct_option": "Multi threaded"
},
{
    "question_id": 8,
    "correct_option": "Multi threaded"
},
{
    "question_id": 9,
    "correct_option": "Multi threaded"
},
{
    "question_id": 10,
    "correct_option": "Multi threaded"
}
]
var questionNumber;
$('.initial_questions').click(function(){
    console.log("clicked "+$(this).attr("value"));
    questionNumber = $(this).attr("value");
    var templateData = {"details": questions[questionNumber-1],
                        "progress": (questionNumber*10)}
    var question_snippet = new EJS({url: '/templates/initial_individual_question.ejs'}).render(templateData);
    console.log(question_snippet);
    $(".initial_quiz_container").html(question_snippet);
});
var answers = [];

$(document).on('click',".btnSubmit",function(){
    var selectedAnswer = $("input[name=answer_options]:checked").val();
    //console.log("Selected answer" + selectedAnswer);
    //var questionNumber = $('.initial_questions').attr("value");
    flag = false;
    for(i=0;i<answers.length;i++){
        if(questionNumber == answers[i].questionNumber){
            answers[i].selectedAnswer = selectedAnswer;
            flag = true;
        }
    }
    if(!flag)
        var isCorrect;
        if(correctAnswers[i].correct_option == selectedAnswer) {
            isCorrect = true;
        } else {
            isCorrect = false;
        }
        answers.push({  "questionNumber" : questionNumber,
                        "isCorrect" : isCorrect,
                        "topic": questions[i].topic,
                        "subTopic": questions[i].subTopic});
    if(questionNumber == 10){
        var res = {'data': answers};
        $.ajax({
            "url": "save_initial_quiz",
            "data": res,
            "type": 'POST'
        }).done(function(){
            console.log("saved answers");
            displayResults(answers);
        });
    }

});
function displayResults(answers){
    // evaluate answers of student
    var results = new EJS({url:'/templates/initial_quiz_results.ejs'}).render(answers);
    //console.log(results);
    $('.results').html(results);

}
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
