<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/stacked-bar-chart.css" rel="stylesheet">

    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/stacked-bar-chart.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

  <body>
      <script type="text/javascript">
      $(function() {
        $('input[name="daterange"]').daterangepicker();
      });
    </script>

     <script type="text/javascript">
      $(".applyBtn").click(function() {
        console.log("here");
        $('#stacked-bar-chart').show();
      });
    </script>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="instructor-home" action='post'>My Home</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="add-quiz">Make Quiz</a></li>
            <li><a href="leaderboard">View LeaderBoard</a></li>
            <li><a href="test2">Performance By Topic</a></li>
            <li><a href="test">Zoomed Performance</a></li>
            <li><a href="test3">(Topic Dist) Performance</a></li>
          </ul>
        </nav>
      </div>
    </div> <!-- /container -->
    <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
    <div id='stacked-bar-chart'></div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
