<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Justified Nav Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">My Home</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="add-quiz">Make Quiz</a></li>
            <li><a href="leaderboard">View LeaderBoard</a></li>
            <li><a href="test2">Performance By Topic</a></li>
            <li><a href="test">Zoomed Performance</a></li>
            <li><a href="test3">(Topic Dist) Performance</a></li>
          </ul>
        </nav>
      </div>

<script src="//d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/nicgirault/circosJS/master/dist/colorBrewer.css">
<script src="https://cdn.rawgit.com/nicgirault/circosJS/master/dist/circosJS.js" type="text/javascript"></script>
<script src="data.js" type="text/javascript"></script>

<svg id='chart' style='display: block; margin: auto;'></svg>

<script type='text/javascript'>
var layout_data = [
    { "len": 31, "color": "#8dd3c7", "label": "Arrays", "id": "arrays" },
    { "len": 28, "color": "#ffffb3", "label": "Lists", "id": "lists" },
    { "len": 31, "color": "#bebada", "label": "Recursion", "id": "recursion" },
    { "len": 30, "color": "#fb8072", "label": "I/O", "id": "I/O" },
    { "len": 31, "color": "#80b1d3", "label": "GUI", "id": "GUI" },
    { "len": 30, "color": "#fdb462", "label": "Exceptions", "id": "Exceptions" },
    { "len": 31, "color": "#b3de69", "label": "Class Concepts", "id": "Class" },
    { "len": 31, "color": "#fccde5", "label": "Inheritence", "id": "Inheritence" },
    { "len": 30, "color": "#d9d9d9", "label": "Polymorphism", "id": "Polymorphism" },
    { "len": 31, "color": "#bc80bd", "label": "Enum", "id": "Enum" },
    { "len": 30, "color": "#ccebc5", "label": "Threads", "id": "Threads" },
    { "len": 31, "color": "#ffed6f", "label": "Streams", "id": "Collections" }
];
var heatmap = [
    ['arrays',0,1,1368001],
    ['arrays',1,2,1458583],
    ['arrays',2,3,1481633],
    ['arrays',3,4,1408424],
    ['arrays',4,5,1400597],
    ['arrays',5,6,1548933],
    ['arrays',6,7,1537059],
    ['arrays',7,8,1517383],
    ['arrays',8,9,1544359],
    ['arrays',9,10,1580460],
    ['arrays',10,11,1440710],
    ['arrays',11,12,1417824],
    ['arrays',12,13,1597834],
    ['arrays',13,14,1666670],
    ['arrays',14,15,1707785],
    ['arrays',15,16,1656905],
    ['arrays',16,17,1620539],
    ['arrays',17,18,1487228],
    ['arrays',18,19,1418230],
    ['arrays',19,20,1666497],
    ['arrays',20,21,1739178],
    ['arrays',21,22,1755254],
    ['arrays',22,23,1732520],
    ['arrays',23,24,1702975],
    ['arrays',24,25,1546438],
    ['arrays',25,26,1454228],
    ['arrays',26,27,1684766],
    ['arrays',27,28,1759669],
    ['arrays',28,29,1764844],
    ['arrays',29,30,1737754],
    ['arrays',30,31,1749857],
    ['lists',0,1,1577419],
    ['lists',1,2,1509311],
    ['lists',2,3,1688266],
    ['lists',3,4,1690517],
    ['lists',4,5,1719390],
    ['lists',5,6,1693426],
    ['lists',6,7,1613806],
    ['lists',7,8,1521449],
    ['lists',8,9,1473617],
    ['lists',9,10,1632787],
    ['lists',10,11,1698088],
    ['lists',11,12,1702137],
    ['lists',12,13,1690878],
    ['lists',13,14,1661660],
    ['lists',14,15,1445139],
    ['lists',15,16,1392075],
    ['lists',16,17,1565855],
    ['lists',17,18,1622609],
    ['lists',18,19,1593628],
    ['lists',19,20,1564282],
    ['lists',20,21,1569010],
    ['lists',21,22,1458216],
    ['lists',22,23,1338981],
    ['lists',23,24,1495727],
    ['lists',24,25,1554400],
    ['lists',25,26,1574841],
    ['lists',26,27,1643072],
    ['lists',27,28,1644590],
    ['recursion',0,1,1500834],
    ['recursion',1,2,1424820],
    ['recursion',2,3,1607011],
    ['recursion',3,4,1615301],
    ['recursion',4,5,1559021],
    ['recursion',5,6,1547753],
    ['recursion',6,7,1508006],
    ['recursion',7,8,1309583],
    ['recursion',8,9,1189917],
    ['recursion',9,10,1365881],
    ['recursion',10,11,1403679],
    ['recursion',11,12,1403001],
    ['recursion',12,13,1397280],
    ['recursion',13,14,1367524],
    ['recursion',14,15,1251964],
    ['recursion',15,16,1159217],
    ['recursion',16,17,1334292],
    ['recursion',17,18,1391104],
    ['recursion',18,19,1366559],
    ['recursion',19,20,1342872],
    ['recursion',20,21,1327773],
    ['recursion',21,22,1268340],
    ['recursion',22,23,1276517],
    ['recursion',23,24,1467731],
    ['recursion',24,25,1503009],
    ['recursion',25,26,1496469],
    ['recursion',26,27,1500094],
    ['recursion',27,28,1450254],
    ['recursion',28,29,1240603],
    ['recursion',29,30,1086657],
    ['recursion',30,31,1282324],
    ['I/O',0,1,1283014],
    ['I/O',1,2,1270569],
    ['I/O',2,3,1293570],
    ['I/O',3,4,1293439],
    ['I/O',4,5,1150461],
    ['I/O',5,6,1050257],
    ['I/O',6,7,1209470],
    ['I/O',7,8,1260725],
    ['I/O',8,9,1285887],
    ['I/O',9,10,1266011],
    ['I/O',10,11,1234722],
    ['I/O',11,12,1100005],
    ['I/O',12,13,1034963],
    ['I/O',13,14,1221402],
    ['I/O',14,15,1265036],
    ['I/O',15,16,1279159],
    ['I/O',16,17,1266882],
    ['I/O',17,18,1241239],
    ['I/O',18,19,1153081],
    ['I/O',19,20,1082812],
    ['I/O',20,21,1084284],
    ['I/O',21,22,1245400],
    ['I/O',22,23,1248887],
    ['I/O',23,24,1235617],
    ['I/O',24,25,1229560],
    ['I/O',25,26,1117336],
    ['I/O',26,27,1074233],
    ['I/O',27,28,1249024],
    ['I/O',28,29,1273337],
    ['I/O',29,30,1246730],
    ['GUI',0,1,1036144],
    ['GUI',1,2,1156135],
    ['GUI',2,3,1106555],
    ['GUI',3,4,1041413],
    ['GUI',4,5,1182786],
    ['GUI',5,6,1192434],
    ['GUI',6,7,1193624],
    ['GUI',7,8,1047831],
    ['GUI',8,9,1106669],
    ['GUI',9,10,1043170],
    ['GUI',10,11,1000001],
    ['GUI',11,12,1205405],
    ['GUI',12,13,1247394],
    ['GUI',13,14,1238560],
    ['GUI',14,15,1223267],
    ['GUI',15,16,1199465],
    ['GUI',16,17,1040418],
    ['GUI',17,18,952650],
    ['GUI',18,19,1126219],
    ['GUI',19,20,1155800],
    ['GUI',20,21,1173902],
    ['GUI',21,22,1167218],
    ['GUI',22,23,1160702],
    ['GUI',23,24,1034886],
    ['GUI',24,25,966509],
    ['GUI',25,26,1156691],
    ['GUI',26,27,1194054],
    ['GUI',27,28,1190877],
    ['GUI',28,29,1016149],
    ['GUI',29,30,1068529],
    ['GUI',30,31,993302],
    ['Exceptions',0,1,935590],
    ['Exceptions',1,2,1119046],
    ['Exceptions',2,3,1150676],
    ['Exceptions',3,4,1169570],
    ['Exceptions',4,5,1162795],
    ['Exceptions',5,6,1147372],
    ['Exceptions',6,7,1004244],
    ['Exceptions',7,8,921713],
    ['Exceptions',8,9,968196],
    ['Exceptions',9,10,1140341],
    ['Exceptions',10,11,1152976],
    ['Exceptions',11,12,1165844],
    ['Exceptions',12,13,1154469],
    ['Exceptions',13,14,999352],
    ['Exceptions',14,15,917310],
    ['Exceptions',15,16,1106649],
    ['Exceptions',16,17,1141077],
    ['Exceptions',17,18,1143086],
    ['Exceptions',18,19,1149995],
    ['Exceptions',19,20,1141059],
    ['Exceptions',20,21,1008542],
    ['Exceptions',21,22,939065],
    ['Exceptions',22,23,1129289],
    ['Exceptions',23,24,1161838],
    ['Exceptions',24,25,1158130],
    ['Exceptions',25,26,1159204],
    ['Exceptions',26,27,1146093],
    ['Exceptions',27,28,1009897],
    ['Exceptions',28,29,928706],
    ['Exceptions',29,30,1103970],
    ['Class',0,1,1143862],
    ['Class',1,2,1150514],
    ['Class',2,3,1167512],
    ['Class',3,4,1150024],
    ['Class',4,5,1008307],
    ['Class',5,6,934687],
    ['Class',6,7,1106666],
    ['Class',7,8,1143473],
    ['Class',8,9,1154196],
    ['Class',9,10,1167145],
    ['Class',10,11,1151100],
    ['Class',11,12,1006581],
    ['Class',12,13,930137],
    ['Class',13,14,941594],
    ['Class',14,15,1126558],
    ['Class',15,16,1166553],
    ['Class',16,17,1187503],
    ['Class',17,18,1182767],
    ['Class',18,19,1030447],
    ['Class',19,20,934780],
    ['Class',20,21,1107315],
    ['Class',21,22,1147785],
    ['Class',22,23,1161849],
    ['Class',23,24,1169049],
    ['Class',24,25,1131515],
    ['Class',25,26,993075],
    ['Class',26,27,925852],
    ['Class',27,28,1077760],
    ['Class',28,29,1095700],
    ['Class',29,30,1098378],
    ['Class',30,31,1096670],
    ['Inheritence',0,1,1071402],
    ['Inheritence',1,2,951503],
    ['Inheritence',2,3,878472],
    ['Inheritence',3,4,996356],
    ['Inheritence',4,5,1016188],
    ['Inheritence',5,6,1022237],
    ['Inheritence',6,7,1027197],
    ['Inheritence',7,8,1024299],
    ['Inheritence',8,9,922671],
    ['Inheritence',9,10,872742],
    ['Inheritence',10,11,974684],
    ['Inheritence',11,12,988100],
    ['Inheritence',12,13,988993],
    ['Inheritence',13,14,981883],
    ['Inheritence',14,15,893681],
    ['Inheritence',15,16,894506],
    ['Inheritence',16,17,858478],
    ['Inheritence',17,18,991784],
    ['Inheritence',18,19,1022889],
    ['Inheritence',19,20,1031167],
    ['Inheritence',20,21,1038878],
    ['Inheritence',21,22,1042880],
    ['Inheritence',22,23,951127],
    ['Inheritence',23,24,896613],
    ['Inheritence',24,25,1078972],
    ['Inheritence',25,26,1123401],
    ['Inheritence',26,27,1122117],
    ['Inheritence',27,28,1129891],
    ['Inheritence',28,29,1114953],
    ['Inheritence',29,30,986620],
    ['Inheritence',30,31,921040],
    ['Polymorphism',0,1,1103673],
    ['Polymorphism',1,2,1143909],
    ['Polymorphism',2,3,1149438],
    ['Polymorphism',3,4,1157452],
    ['Polymorphism',4,5,1149054],
    ['Polymorphism',5,6,1010272],
    ['Polymorphism',6,7,942892],
    ['Polymorphism',7,8,1135215],
    ['Polymorphism',8,9,1163859],
    ['Polymorphism',9,10,1165798],
    ['Polymorphism',10,11,1163321],
    ['Polymorphism',11,12,1142868],
    ['Polymorphism',12,13,1007248],
    ['Polymorphism',13,14,938456],
    ['Polymorphism',14,15,1129580],
    ['Polymorphism',15,16,1160361],
    ['Polymorphism',16,17,1166669],
    ['Polymorphism',17,18,1166135],
    ['Polymorphism',18,19,1155657],
    ['Polymorphism',19,20,1013339],
    ['Polymorphism',20,21,939303],
    ['Polymorphism',21,22,1115789],
    ['Polymorphism',22,23,1155790],
    ['Polymorphism',23,24,1175290],
    ['Polymorphism',24,25,1171100],
    ['Polymorphism',25,26,1156096],
    ['Polymorphism',26,27,1016313],
    ['Polymorphism',27,28,946015],
    ['Polymorphism',28,29,1140783],
    ['Polymorphism',29,30,1171328],
    ['Enum',0,1,1169047],
    ['Enum',1,2,1166792],
    ['Enum',2,3,1151218],
    ['Enum',3,4,1013653],
    ['Enum',4,5,961694],
    ['Enum',5,6,1173529],
    ['Enum',6,7,1208669],
    ['Enum',7,8,1218388],
    ['Enum',8,9,1203597],
    ['Enum',9,10,1185802],
    ['Enum',10,11,1047404],
    ['Enum',11,12,1002951],
    ['Enum',12,13,1176808],
    ['Enum',13,14,1209924],
    ['Enum',14,15,1220987],
    ['Enum',15,16,1220765],
    ['Enum',16,17,1193122],
    ['Enum',17,18,1042063],
    ['Enum',18,19,960302],
    ['Enum',19,20,1151448],
    ['Enum',20,21,1213130],
    ['Enum',21,22,1255712],
    ['Enum',22,23,1282461],
    ['Enum',23,24,1267047],
    ['Enum',24,25,1115921],
    ['Enum',25,26,1086010],
    ['Enum',26,27,1232889],
    ['Enum',27,28,1282237],
    ['Enum',28,29,1278848],
    ['Enum',29,30,1258570],
    ['Enum',30,31,1225435],
    ['Threads',0,1,1072746],
    ['Threads',1,2,1049955],
    ['Threads',2,3,1272203],
    ['Threads',3,4,1340860],
    ['Threads',4,5,1408998],
    ['Threads',5,6,1451479],
    ['Threads',6,7,1437583],
    ['Threads',7,8,1274988],
    ['Threads',8,9,1210274],
    ['Threads',9,10,1327675],
    ['Threads',10,11,1246598],
    ['Threads',11,12,1396790],
    ['Threads',12,13,1432484],
    ['Threads',13,14,1422153],
    ['Threads',14,15,1275193],
    ['Threads',15,16,1234596],
    ['Threads',16,17,1453194],
    ['Threads',17,18,1484727],
    ['Threads',18,19,1514655],
    ['Threads',19,20,1511929],
    ['Threads',20,21,1462551],
    ['Threads',21,22,1294247],
    ['Threads',22,23,1202440],
    ['Threads',23,24,1404219],
    ['Threads',24,25,1459282],
    ['Threads',25,26,1453893],
    ['Threads',26,27,1454444],
    ['Threads',27,28,1426951],
    ['Threads',28,29,1294661],
    ['Threads',29,30,1287777],
    ['Collections',0,1,1549272],
    ['Collections',1,2,1633784],
    ['Collections',2,3,1684781],
    ['Collections',3,4,1689624],
    ['Collections',4,5,1666695],
    ['Collections',5,6,1545527],
    ['Collections',6,7,1523315],
    ['Collections',7,8,1683824],
    ['Collections',8,9,1754569],
    ['Collections',9,10,1734975],
    ['Collections',10,11,1669997],
    ['Collections',11,12,1641086],
    ['Collections',12,13,1489854],
    ['Collections',13,14,1474692],
    ['Collections',14,15,1633309],
    ['Collections',15,16,1607862],
    ['Collections',16,17,1632516],
    ['Collections',17,18,1536016],
    ['Collections',18,19,1490975],
    ['Collections',19,20,1394406],
    ['Collections',20,21,1387549],
    ['Collections',21,22,1538557],
    ['Collections',22,23,1550730],
    ['Collections',23,24,1469007],
    ['Collections',24,25,1314160],
    ['Collections',25,26,1499708],
    ['Collections',26,27,1508048],
    ['Collections',27,28,1570757],
    ['Collections',28,29,1792749],
    ['Collections',29,30,1770200],
    ['Collections',30,31,1721354]
];
days_off = [
    ['arrays',0,1,2],
    ['arrays',1,2,0],
    ['arrays',2,3,0],
    ['arrays',3,4,1],
    ['arrays',4,5,1],
    ['arrays',5,6,0],
    ['arrays',6,7,0],
    ['arrays',7,8,0],
    ['arrays',8,9,0],
    ['arrays',9,10,0],
    ['arrays',10,11,1],
    ['arrays',11,12,1],
    ['arrays',12,13,0],
    ['arrays',13,14,0],
    ['arrays',14,15,0],
    ['arrays',15,16,0],
    ['arrays',16,17,0],
    ['arrays',17,18,1],
    ['arrays',18,19,1],
    ['arrays',19,20,0],
    ['arrays',20,21,0],
    ['arrays',21,22,0],
    ['arrays',22,23,0],
    ['arrays',23,24,0],
    ['arrays',24,25,1],
    ['arrays',25,26,1],
    ['arrays',26,27,0],
    ['arrays',27,28,0],
    ['arrays',28,29,0],
    ['arrays',29,30,0],
    ['arrays',30,31,0],
    ['lists',0,1,1],
    ['lists',1,2,1],
    ['lists',2,3,0],
    ['lists',3,4,0],
    ['lists',4,5,0],
    ['lists',5,6,0],
    ['lists',6,7,0],
    ['lists',7,8,1],
    ['lists',8,9,1],
    ['lists',9,10,0],
    ['lists',10,11,0],
    ['lists',11,12,0],
    ['lists',12,13,0],
    ['lists',13,14,0],
    ['lists',14,15,1],
    ['lists',15,16,1],
    ['lists',16,17,0],
    ['lists',17,18,0],
    ['lists',18,19,0],
    ['lists',19,20,0],
    ['lists',20,21,0],
    ['lists',21,22,1],
    ['lists',22,23,1],
    ['lists',23,24,0],
    ['lists',24,25,0],
    ['lists',25,26,0],
    ['lists',26,27,0],
    ['lists',27,28,0],
    ['recursion',0,1,1],
    ['recursion',1,2,1],
    ['recursion',2,3,0],
    ['recursion',3,4,0],
    ['recursion',4,5,0],
    ['recursion',5,6,0],
    ['recursion',6,7,0],
    ['recursion',7,8,1],
    ['recursion',8,9,1],
    ['recursion',9,10,0],
    ['recursion',10,11,0],
    ['recursion',11,12,0],
    ['recursion',12,13,0],
    ['recursion',13,14,0],
    ['recursion',14,15,1],
    ['recursion',15,16,1],
    ['recursion',16,17,0],
    ['recursion',17,18,0],
    ['recursion',18,19,0],
    ['recursion',19,20,0],
    ['recursion',20,21,0],
    ['recursion',21,22,1],
    ['recursion',22,23,1],
    ['recursion',23,24,0],
    ['recursion',24,25,0],
    ['recursion',25,26,0],
    ['recursion',26,27,0],
    ['recursion',27,28,0],
    ['recursion',28,29,1],
    ['recursion',29,30,1],
    ['recursion',30,31,0],
    ['I/O',0,1,0],
    ['I/O',1,2,0],
    ['I/O',2,3,0],
    ['I/O',3,4,0],
    ['I/O',4,5,1],
    ['I/O',5,6,1],
    ['I/O',6,7,0],
    ['I/O',7,8,0],
    ['I/O',8,9,0],
    ['I/O',9,10,0],
    ['I/O',10,11,0],
    ['I/O',11,12,1],
    ['I/O',12,13,1],
    ['I/O',13,14,0],
    ['I/O',14,15,0],
    ['I/O',15,16,0],
    ['I/O',16,17,0],
    ['I/O',17,18,0],
    ['I/O',18,19,1],
    ['I/O',19,20,1],
    ['I/O',20,21,2],
    ['I/O',21,22,0],
    ['I/O',22,23,0],
    ['I/O',23,24,0],
    ['I/O',24,25,0],
    ['I/O',25,26,1],
    ['I/O',26,27,1],
    ['I/O',27,28,0],
    ['I/O',28,29,0],
    ['I/O',29,30,0],
    ['GUI',0,1,2],
    ['GUI',1,2,0],
    ['GUI',2,3,1],
    ['GUI',3,4,1],
    ['GUI',4,5,0],
    ['GUI',5,6,0],
    ['GUI',6,7,0],
    ['GUI',7,8,2],
    ['GUI',8,9,0],
    ['GUI',9,10,1],
    ['GUI',10,11,1],
    ['GUI',11,12,0],
    ['GUI',12,13,0],
    ['GUI',13,14,0],
    ['GUI',14,15,0],
    ['GUI',15,16,0],
    ['GUI',16,17,1],
    ['GUI',17,18,1],
    ['GUI',18,19,0],
    ['GUI',19,20,0],
    ['GUI',20,21,0],
    ['GUI',21,22,0],
    ['GUI',22,23,0],
    ['GUI',23,24,1],
    ['GUI',24,25,1],
    ['GUI',25,26,0],
    ['GUI',26,27,0],
    ['GUI',27,28,0],
    ['GUI',28,29,2],
    ['GUI',29,30,0],
    ['GUI',30,31,1],
    ['Exceptions',0,1,1],
    ['Exceptions',1,2,0],
    ['Exceptions',2,3,0],
    ['Exceptions',3,4,0],
    ['Exceptions',4,5,0],
    ['Exceptions',5,6,0],
    ['Exceptions',6,7,1],
    ['Exceptions',7,8,1],
    ['Exceptions',8,9,2],
    ['Exceptions',9,10,0],
    ['Exceptions',10,11,0],
    ['Exceptions',11,12,0],
    ['Exceptions',12,13,0],
    ['Exceptions',13,14,1],
    ['Exceptions',14,15,1],
    ['Exceptions',15,16,0],
    ['Exceptions',16,17,0],
    ['Exceptions',17,18,0],
    ['Exceptions',18,19,0],
    ['Exceptions',19,20,0],
    ['Exceptions',20,21,1],
    ['Exceptions',21,22,1],
    ['Exceptions',22,23,0],
    ['Exceptions',23,24,0],
    ['Exceptions',24,25,0],
    ['Exceptions',25,26,0],
    ['Exceptions',26,27,0],
    ['Exceptions',27,28,1],
    ['Exceptions',28,29,1],
    ['Exceptions',29,30,0],
    ['Class',0,1,0],
    ['Class',1,2,0],
    ['Class',2,3,0],
    ['Class',3,4,0],
    ['Class',4,5,1],
    ['Class',5,6,1],
    ['Class',6,7,0],
    ['Class',7,8,0],
    ['Class',8,9,0],
    ['Class',9,10,0],
    ['Class',10,11,0],
    ['Class',11,12,1],
    ['Class',12,13,1],
    ['Class',13,14,2],
    ['Class',14,15,0],
    ['Class',15,16,0],
    ['Class',16,17,0],
    ['Class',17,18,0],
    ['Class',18,19,1],
    ['Class',19,20,1],
    ['Class',20,21,0],
    ['Class',21,22,0],
    ['Class',22,23,0],
    ['Class',23,24,0],
    ['Class',24,25,0],
    ['Class',25,26,1],
    ['Class',26,27,1],
    ['Class',27,28,0],
    ['Class',28,29,0],
    ['Class',29,30,0],
    ['Class',30,31,0],
    ['Inheritence',0,1,0],
    ['Inheritence',1,2,1],
    ['Inheritence',2,3,1],
    ['Inheritence',3,4,0],
    ['Inheritence',4,5,0],
    ['Inheritence',5,6,0],
    ['Inheritence',6,7,0],
    ['Inheritence',7,8,0],
    ['Inheritence',8,9,1],
    ['Inheritence',9,10,1],
    ['Inheritence',10,11,0],
    ['Inheritence',11,12,0],
    ['Inheritence',12,13,0],
    ['Inheritence',13,14,0],
    ['Inheritence',14,15,2],
    ['Inheritence',15,16,1],
    ['Inheritence',16,17,1],
    ['Inheritence',17,18,0],
    ['Inheritence',18,19,0],
    ['Inheritence',19,20,0],
    ['Inheritence',20,21,0],
    ['Inheritence',21,22,0],
    ['Inheritence',22,23,1],
    ['Inheritence',23,24,1],
    ['Inheritence',24,25,0],
    ['Inheritence',25,26,0],
    ['Inheritence',26,27,0],
    ['Inheritence',27,28,0],
    ['Inheritence',28,29,0],
    ['Inheritence',29,30,1],
    ['Inheritence',30,31,1],
    ['Polymorphism',0,1,0],
    ['Polymorphism',1,2,0],
    ['Polymorphism',2,3,0],
    ['Polymorphism',3,4,0],
    ['Polymorphism',4,5,0],
    ['Polymorphism',5,6,1],
    ['Polymorphism',6,7,1],
    ['Polymorphism',7,8,0],
    ['Polymorphism',8,9,0],
    ['Polymorphism',9,10,0],
    ['Polymorphism',10,11,0],
    ['Polymorphism',11,12,0],
    ['Polymorphism',12,13,1],
    ['Polymorphism',13,14,1],
    ['Polymorphism',14,15,0],
    ['Polymorphism',15,16,0],
    ['Polymorphism',16,17,0],
    ['Polymorphism',17,18,0],
    ['Polymorphism',18,19,0],
    ['Polymorphism',19,20,1],
    ['Polymorphism',20,21,1],
    ['Polymorphism',21,22,0],
    ['Polymorphism',22,23,0],
    ['Polymorphism',23,24,0],
    ['Polymorphism',24,25,0],
    ['Polymorphism',25,26,0],
    ['Polymorphism',26,27,1],
    ['Polymorphism',27,28,1],
    ['Polymorphism',28,29,0],
    ['Polymorphism',29,30,0],
    ['Enum',0,1,0],
    ['Enum',1,2,0],
    ['Enum',2,3,0],
    ['Enum',3,4,1],
    ['Enum',4,5,1],
    ['Enum',5,6,0],
    ['Enum',6,7,0],
    ['Enum',7,8,0],
    ['Enum',8,9,0],
    ['Enum',9,10,0],
    ['Enum',10,11,1],
    ['Enum',11,12,1],
    ['Enum',12,13,0],
    ['Enum',13,14,0],
    ['Enum',14,15,0],
    ['Enum',15,16,0],
    ['Enum',16,17,0],
    ['Enum',17,18,1],
    ['Enum',18,19,1],
    ['Enum',19,20,0],
    ['Enum',20,21,0],
    ['Enum',21,22,0],
    ['Enum',22,23,0],
    ['Enum',23,24,0],
    ['Enum',24,25,1],
    ['Enum',25,26,1],
    ['Enum',26,27,0],
    ['Enum',27,28,0],
    ['Enum',28,29,0],
    ['Enum',29,30,0],
    ['Enum',30,31,0],
    ['Threads',0,1,1],
    ['Threads',1,2,1],
    ['Threads',2,3,0],
    ['Threads',3,4,0],
    ['Threads',4,5,0],
    ['Threads',5,6,0],
    ['Threads',6,7,0],
    ['Threads',7,8,1],
    ['Threads',8,9,1],
    ['Threads',9,10,0],
    ['Threads',10,11,2],
    ['Threads',11,12,0],
    ['Threads',12,13,0],
    ['Threads',13,14,0],
    ['Threads',14,15,1],
    ['Threads',15,16,1],
    ['Threads',16,17,0],
    ['Threads',17,18,0],
    ['Threads',18,19,0],
    ['Threads',19,20,0],
    ['Threads',20,21,0],
    ['Threads',21,22,1],
    ['Threads',22,23,1],
    ['Threads',23,24,0],
    ['Threads',24,25,0],
    ['Threads',25,26,0],
    ['Threads',26,27,0],
    ['Threads',27,28,0],
    ['Threads',28,29,1],
    ['Threads',29,30,1],
    ['Collections',0,1,0],
    ['Collections',1,2,0],
    ['Collections',2,3,0],
    ['Collections',3,4,0],
    ['Collections',4,5,0],
    ['Collections',5,6,1],
    ['Collections',6,7,1],
    ['Collections',7,8,0],
    ['Collections',8,9,0],
    ['Collections',9,10,0],
    ['Collections',10,11,0],
    ['Collections',11,12,0],
    ['Collections',12,13,1],
    ['Collections',13,14,1],
    ['Collections',14,15,0],
    ['Collections',15,16,0],
    ['Collections',16,17,0],
    ['Collections',17,18,0],
    ['Collections',18,19,0],
    ['Collections',19,20,1],
    ['Collections',20,21,1],
    ['Collections',21,22,0],
    ['Collections',22,23,0],
    ['Collections',23,24,0],
    ['Collections',24,25,2],
    ['Collections',25,26,0],
    ['Collections',26,27,1],
    ['Collections',27,28,1],
    ['Collections',28,29,0],
    ['Collections',29,30,0],
    ['Collections',30,31,0]
];


  var circos = new circosJS({
      container: '#chart',
      width: 420,
      height: 420,
  });

  circos
    .layout(
        {
            innerRadius: 160,
            outerRadius: 200,
            ticks: {display: false},
            labels: {
              position: 'center',
              display: true,
              size: 14,
              color: '#000',
              radialOffset: 15,
            }
        },
        layout_data
    )
    .heatmap('temperatures', {
        innerRadius: 115,
        outerRadius: 155,
        logScale: false,
        colorPalette: 'YlOrRd',
    }, heatmap)
    .heatmap('days-off', {
        innerRadius: 105,
        outerRadius: 114,
        logScale: false,
        colorPalette: 'Blues'
    }, days_off)
    .render();
</script>
</body>