<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Study Group</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="bootstrap/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="bootstrap/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="assets/css/demo.css" rel="stylesheet" /> -->


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


	<div class="sidebar-wrapper">
		<div class="logo">
			<a href=# class="simple-text">
				<%= currentUser.userName%>
			</a>
		</div>

		<ul class="nav">
			<li>
				<a href="dashboard.ejs">
					<i class="pe-7s-graph"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li>
				<a href="profile">
					<i class="pe-7s-user"></i>
					<p>User Profile</p>
				</a>
			</li>
			<li>
				<a href="table">
					<i class="pe-7s-note2"></i>
					<p>Leaderboard</p>
				</a>
			</li>
			<li>
				<a href="typography.ejs">
					<i class="pe-7s-news-paper"></i>
					<p>Visualizations</p>
				</a>
			</li>
			<!-- <li>
				<a href="icons.html">
					<i class="pe-7s-science"></i>
					<p>Icons</p>
				</a>
			</li>
			<li>
				<a href="maps.html">
					<i class="pe-7s-map-marker"></i>
					<p>Maps</p>
				</a>
			</li>
			<li>
				<a href="notifications.html">
					<i class="pe-7s-bell"></i>
					<p>Notifications</p>
				</a>
			</li> -->
            <li class="active">
    			<a href="#">
    				<i class="pe-7s-rocket"></i>
    				<p>STUDY GROUPS</p>
    			</a>
    		</li>
			<li>
			   <a href="questions">
				   <i class="pe-7s-science"></i>
				   <p>Questions</p>
			   </a>
		   </li>

		</ul>
	</div>
	</div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Study Groups</a>
                </div>
                <div class="collapse navbar-collapse">
                    <!-- <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul> -->

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="profile">
                               Account
                            </a>
                        </li>
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li> -->
                        <li>
                            <a href="logout" id="logout">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row" id = "tutors">

                </div>
            </div>
        </div>
    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="bootstrap/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="bootstrap/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="bootstrap/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="bootstrap/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="bootstrap/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<!-- <script src="assets/js/demo.js"></script> -->
    <script>
    function populateTutors(){
        var input = [];
        $.get("/study_groups_test", function(){
        console.log("called methods");
        }).done(function(data){
        console.log(data);
        input = data;
        var shades = ["#FF0000","#FF1A1A", "#FF3434", "#E50000", "#CB0000", "#B10000", "#970000", "#7D0000", "#630000", "#490000"];
        var tutorsTemplate = [];
        for(i=0;i<9;i++){
            j = i % 3;
            temp = input[j];
            var topics = "";
            topicsList = temp.topicList;
            console.log(topicsList);
            for(k=0;k<topicsList.length; k++){
                proficiency = temp.topicProficiency[k];
                shade = Math.round((proficiency / 10) % 10);
                topics = topics + "<p style='font-weight:900; font-size:120%; color:" + shades[shade] + ";'>"  + temp.topicList[k] + "</p>"
            }
            template = '<div class="col-md-4">' +
            '    <div class="card card-user">' +
            '        <div class="image">' +
            '            <img src="' + temp.BGpicPath + '" alt="..."/>' +
            '       </div>' +
            '        <div class="content">' +
            '            <div class="author">' +
            '                 <a href="#"> ' +
            '                <img class="avatar border-gray" src="' + temp.picPath + '" alt=user "' + j + '"/>' +
            '                  <h4 class="title">' + 'S2' + '<br />' +
            '                     <small>' + 'S2@asu.edu' + '</small> ' +
            '                  </h4>'+
            '                </a>' +
            '            </div>' +
            '            <div class="description text-center">'+
                                topics +
            '            </div>' +
            '        </div> ' +
            '        <hr> ' +
            '    </div>' +
            '</div>';
            console.lo
            tutorsTemplate.push(template);
            $("#tutors").html(tutorsTemplate);
        }

    });
    }

        $(document).ready(function(){
            populateTutors();
        });

    </script>

</html>
